.search-bar {
  height: 36px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border: 1px solid rgb(196, 196, 196);
  flex: 1;
  padding-left: 10px;
  font-size: 16px;
  box-shadow: inset 1px 2px 3px rgb(0, 0, 0, 0.05);
}

.search-bar::placeholder {
  font-family: Roboto Arial;
  font-size: 16px;
  width: 0;
}

.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(250, 246, 246);
  z-index: 100;
}

.left-section {
  align-items: center;
  display: flex;
}

.middle-section {
  display: flex;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  align-items: center;
}

.right-section {
  height: 50px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-button {
  margin-top: 8px;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  border: 20px none lightblue;
  margin-right: 10px;
  display: flex;
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.upload-button:hover {
  background-color: rgba(92, 91, 91, 0.61);
  transition: 500ms;
}

.plus-icon {
  margin-bottom: 2px;
  height: 22px;
  margin-left: -1px;
}

.create-text {
  margin-bottom: 2px;
  margin-left: 6px;
  font-size: 14px;
}

.bell-button {
  margin-top: 8px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  margin-left: 20px;
  cursor: pointer;
}

.bell-icon {
  height: 22px;
  margin-top: 2px;
}

.bell-count {
  position: absolute;
  top: 5px;
  margin-right: -15px;
  background-color: red;
  color: white;
  font-family: Roboto, Arial;
  font-size: 11px;
  font-weight: 500;
  padding: 2px 6px 2px 6px;
  border-radius: 10px;
}

.profile-picture {
  margin-top: 8px;
  margin-left: 40px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.hamburger-menu {
  height: 25px;
  margin-left: 25px;
  margin-right: 20px;
}

.youtube-logo {
  height: 20px;
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(196, 196, 196);
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  margin-left: -1px;
  cursor: pointer;
}

.search-button, 
.mic-button, 
.upload-button, 
.bell-button, 
.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button:hover {
  background-color: rgb(223, 223, 223);
}

.search-button .tooltip-text,
.mic-button .tooltip-text,
.upload-button .tooltip-text,
.bell-button .tooltip-text {
  font-family: Roboto, Arial;
  margin-top: 30px;
  position: absolute;
  background-color: rgb(136, 136, 135);
  color: azure;
  font-family: Roboto, Arial;
  font-size: 12px;
  padding: 4px 4px 4px 4px;
  border-radius: 4px;
  bottom: -20;
  opacity: 0;
  transition: opacity 500ms;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip-text,
.mic-button:hover .tooltip-text,
.upload-button:hover .tooltip-text,
.bell-button:hover .tooltip-text {
  opacity: 1;
  transition: 1000ms;
}

.search-icon {
  height: 25px;
  margin-top: 2px;
}

.mic-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-left: 10px;
  border: none;
  background-color: rgb(231, 231, 231);
  cursor: pointer;
}

.mic-button:hover {
  background-color: rgb(223, 223, 223);
}

.mic-icon {
  height: 22px;
  margin-top: 2px;
}